/* Global tags */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
  background: #fff;
}
address {
  font-style: normal;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-align: center;
}
h1,
h2 {
  font-size: 30px;
}
section img {
  margin: 0 5px;
}
section p {
  line-height: 22px;
}
/* Tags, classes, IDs */
header.gl {
  padding: 25px 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
/* Header */
.hd-wrap {
  height: 90px;
  padding: 10px 0;
}
.logo {
  display: block;
  background: url('../img/logo.png') no-repeat center center;
}
.logo-top {
  border-right: 1px solid #ebedef;
}
.logo-top .logo {
  text-align: center;
  width: 480px;
  height: 70px;
}
.top-contacts {
  padding-left: 45px;
  padding-right: 40px;
  border-right: 1px solid #ebedef;
}
.contact {
  padding-left: 40px;
}
.contact-us {
  display: block;
  width: 155px;
  height: 70px;
  padding-top: 45px;
  background: url('../img/feedback.png') no-repeat center top;
  font-size: 18px;
  color: #969696;
  text-align: center;
}
.contact-us:hover {
  background: url('../img/feedback-h.png') no-repeat center top;
  color: #c7100f;
}
/* Menu */
.menu-top {
  text-align: center;
}
.menu-top .inner {
  padding: 15px 0;
  background: #ececec;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.menu-top li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 15px;
}
.menu-top li a {
  font-size: 15px;
  color: #000;
}
.menu-top li a:hover {
  color: #c7100f;
}
.menu-top li.nested {
  position: relative;
}
.menu-top li.nested:hover ul {
  display: block;
}
.menu-top .nested ul {
  display: none;
  z-index: 100;
  position: absolute;
  left: -90px;
  padding: 20px 0 10px 0;
  background: rgba(236, 236, 236, 0.9);
}
.menu-top .nested ul li {
  display: block;
  width: 220px;
  margin-bottom: 5px;
}
.menu-top .nested ul li a {
  font-size: 12px;
}
/* Slider */
#slider {
  position: relative;
}
#slider img {
  width: 960px;
  height: 283px;
}
.owl-wrapper-outer {
  height: 283px;
}
.owl-prev,
.owl-next {
  display: block;
  width: 28px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  text-indent: -9999px;
}
.owl-prev {
  left: 0;
  background: url('../img/arrow-left.png') no-repeat center center;
}
.owl-prev:hover {
  background: url('../img/arrow-left-h.png') no-repeat center center;
}
.owl-next {
  right: 0;
  background: url('../img/arrow-right.png') no-repeat center center;
}
.owl-next:hover {
  background: url('../img/arrow-right-h.png') no-repeat center center;
}
.slide-inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 365px;
  height: 110px;
  margin-left: -182.5px;
  padding: 15px 20px;
  background: rgba(236, 236, 236, 0.9);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  text-align: center;
}
.slide-inner .title {
  font-size: 18px;
  margin: 0 0 5px 0;
  padding: 0;
}
.slide-inner .textblock p {
  margin: 0;
  font-size: 13px;
}
.slide-inner .more {
  font-size: 13px;
  color: #cb1010;
}
.slide-inner .more:hover {
  color: #000;
}
.shadow {
  width: 920px;
  height: 20px;
  margin: 0 auto;
  background: url('../img/bgshadow.png') no-repeat center top;
}
/* Partners */
.partners {
  padding: 30px 0;
  text-align: center;
}
/* Informeters */
.informeters {
  padding: 30px 0;
  text-align: center;
}
/* Footer */
footer.gl .inner {
  background: url('../img/bgfooter.png') no-repeat bottom right 70px;
}
.logo-bottom {
  width: 387px;
  height: 70px;
}
.social-tmp {
  margin-top: 38px;
}
.bottom-panel {
  margin-top: 40px;
  padding-bottom: 80px;
}
.menu-bottom {
  display: inline-block;
  margin-right: 45px;
  vertical-align: top;
}
.menu-bottom li {
  margin-bottom: 5px;
}
.menu-bottom li a {
  font-size: 12px;
  color: #676767;
}
.menu-bottom li a:hover {
  color: #cb1010;
}
.hodlogo {
  display: block;
  width: 96px;
  height: 64px;
  background: url('../img/hodlogo.png') no-repeat center;
}
